
<li class="card">
  <div class="column-1">
    <img class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?size=250x200&amp;zoom=15&amp;markers=icon:http://inquickerstaging.com/assets/icons/marker-17635fc2f768c7691f2833cf47119848f0d4efde730c011a9d09af8e3eae98b8.png|36.0405,-86.7431&amp;sensor=false&amp;scale=2&amp;key=AIzaSyDwBvykNBsj86QoIE20OuY_CO4dsrcnu38">
  </div>
  <div class="column-2">
    <h3 class="service-name">{{service.name}}</h3>
    <hr>
    <h4 class="facility-name"><span>{{facility.name}}</span> - <span>{{location.name}}</span></h4>
    <a class="address" href="http://maps.google.com/?q=1200 15594 Old Hickory Blvd, Nashville, Tennessee, 37211"><i class="fa fa-map-marker" aria-hidden="true"></i>15594 Old Hickory Blvd - Nashville, TN</a>
    <a class="facility"><i class="fa fa-building-o" aria-hidden="true"></i>{{facility.name}}</a>
    <a class="phone"><i class="fa fa-phone" aria-hidden="true"></i>(615) 555-5555</a>
    <div class="times">
      <hr>
      <ul>
        <a href="#">Monday</a>
        <a href="#">Tuesday</a>
        <a href="#">Wednesday</a>
        <a href="#">Thursday</a>
        <a href="#">Friday</a>
      </ul>
    </div>
  </div>
  <div class="column-3">
    <select class="appointment-select" name="" label="Appointment Type">
      <option disabled="disabled" selected="selected">Appointment Type</option>
      <option>option</option>
      <option>option</option>
    </select>

    <button type="button" name="button">View Full Schedule</button>
  </div>
</li>
