
<li class="card">
  <div class="column-1">
    <img class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?size=250x200&amp;zoom=15&amp;markers=icon:http://inquickerstaging.com/assets/icons/marker-17635fc2f768c7691f2833cf47119848f0d4efde730c011a9d09af8e3eae98b8.png|36.0405,-86.7431&amp;sensor=false&amp;scale=2&amp;key=AIzaSyDwBvykNBsj86QoIE20OuY_CO4dsrcnu38">
  </div>
  <div class="column-2">
    <h3 class="service-name">{{service.name}}</h3>
    <hr>
    <h4 class="facility-name"><span>{{facility.name}}</span> - <span>{{location.name}}</span></h4>
    <a class="address" href="http://maps.google.com/?q=1200 15594 Old Hickory Blvd, Nashville, Tennessee, 37211"><i class="fa fa-map-marker" aria-hidden="true"></i>15594 Old Hickory Blvd - Nashville, TN</a>
    <a class="facility" href=""><i class="fa fa-building-o" aria-hidden="true"></i>{{facility.name}}</a>
    <a class="phone" href="tel:555-555-5555"><i class="fa fa-phone" aria-hidden="true"></i>(615) 555-5555</a>
    <div class="times">
      <hr>
      <ul>
        <a onclick="expand()" href="javascript:void(0);">Monday</a>
        <a href="javascript:void(0);">Tuesday</a>
        <a href="javascript:void(0);">Wednesday</a>
        <a href="javascript:void(0);">Thursday</a>
        <a href="javascript:void(0);">Friday</a>
      </ul>
    </div>
  </div>
  <div class="column-3">
    <select class="appointment-select" name="" label="Appointment Type">
      <option disabled="disabled" selected="selected">Appointment Type</option>
      <option>{{service.name}}</option>
    </select>

    <button type="button" name="button"><a href="https://winter.inquickerstaging.com/schedule/calendar/9441">View Full Schedule</a></button>
  </div>
  <div class="row">
    Test
  </div>
</li>
